<!DOCTYPE html>
<html>
<header>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<style>
		body { 
		background-color: #ece0d1;
		color: #967259 ; 
		}
		a {
			color: brown;
			font-weight: bold;
		}
		.product-image {
			height: 200px;
		}
	</style>
</header>
<body>
	<h1 align="center">Brewed Coffee</h1>
	<center>
		<img src="brewed_coffee.jpg" class="product-image">
	</center>
	<table align="center">
		<tr>
			<th>Mains:</th>
		</tr>
		<tr>
			<th>Beef Gyro</th>
		</tr>
		<tr>
			<td>P100</td>
		</tr>
		<tr>
			<th>Chicken Gyro</th>
		</tr>
		<tr>
			<td>P90</td>
		</tr>
		<tr>
			<th>Greek Chicken Bites & Fries</th>
		</tr>
		<tr>
			<td>P80</td>
		</tr>
		<tr>
			<th>Rice Meals:</th>
		</tr>
		<tr>
			<th>Greek Chicken Bites & Rice</th>
		</tr>
		<tr>
			<td>P90</td>
		</tr>
		<tr>
			<th>Naked Chicken Gyro</th>
		</tr>
		<tr>
			<td>P100</td>
		</tr>
		<tr>
			<th>Naked Beef Gyro</th>
		</tr>
		<tr>
			<td>P110</td>
		</tr>	
		<tr>
			<th>Sides:</th>
		</tr>
		<tr>
			<th>Pita & Hummus</th>
		</tr>
		<tr>
			<td>P50</td>
		</tr>
		<tr>
			<th>Greek Garlic Potatoes</th>
		</tr>
		<tr>
			<td>P50</td>
		</tr>
		<tr>
			<th>Drinks:</th>
		</tr>
		<tr>
			<th>Water</th>
		</tr>
		<tr>
			<td>P15</td>
		</tr>
		<tr>
			<th>Iced Tea</th>
		</tr>
		<tr>
			<td>P25</td>
		</tr>
		<tr>
			<th>Soda</th>
		</tr>
		<tr>
			<td>P40</td>
		</tr>
	</table>
	<div style="text-align: center">
		<a href="products.html">Back</a>
	</div>
</body>
</html>